@import "variables";

.page-footer {
    
    padding-bottom: 20px;
    background-color: rgb(16, 18, 20);
    color: white;
    p {
        -moz-transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
        -o-transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
        -webkit-transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
        transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
        color: white;
        &:hover{
            color: $academySecondaryColor!important;
        }
    }
}