body {
  background: black; }
  body .main {
    background-color: #101214;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px; }

a {
  -moz-transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
  -o-transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
  -webkit-transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
  transition: color 0.7s ease-in-out, color 0.7s ease-in-out;
  color: inherit; }
  a:hover {
    text-decoration: inherit;
    color: #60c2f0; }

.mynav {
  background: linear-gradient(90deg, black 0%, rgba(18, 32, 34, 0.95) 80%, rgba(10, 23, 27, 0.6) 100%) !important;
  backdrop-filter: blur(20px); }
  .mynav .nav-item {
    margin: 14;
    font-size: 50px;
    font-weight: 200; }
    .mynav .nav-item:hover {
      color: #60c2f0 !important; }

.jumbotron {
  background: linear-gradient(rgba(1, 43, 105, 0.452), rgba(53, 128, 128, 0.45)), url(https://source.unsplash.com/1800x600/?cinema);
  background-repeat: repeat;
  background-attachment: inherit;
  color: white !important;
  height: 400px; }
  .jumbotron .lead {
    font-size: 2rem; }
  .jumbotron .btn {
    -moz-transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
    -o-transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
    -webkit-transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
    transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
    color: white;
    border-color: white;
    border-radius: 0px;
    font-weight: 100;
    margin-top: 20px; }
    .jumbotron .btn:hover {
      background-color: #0f6186; }

.event-content {
  font-size: 16px;
  letter-spacing: 0.09rem;
  line-height: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ebebeb; }
